<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Runs

    <a data-toggle="collapse" href="#shoe_runs_new_form">
      Add run
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @shoe.runs.each do |run| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/runs/<%= run.id %>">
          <%= run.date_of_run %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_run_from_shoe/<%= run.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="shoe_runs_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
