<h1>
  Edit shoe #<%= @shoe.id %>
</h1>

<hr>

<form action="/update_shoe/<%= @shoe.id %>" method="post">

  <div class="form-group">
    <label for="shoe_name">
      Shoe name
    </label>

    <input type="text" id="shoe_name" name="shoe_name" class="form-control" value="<%= @shoe.shoe_name %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update shoe
  </button>
</form>

<hr>

<a href="/shoes">
  Go back
</a>
