<% if @shoe.present? %>
  <% if @shoe.errors.any? %>
    <% @shoe.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new shoe
</h1>


<hr>

<form action="/create_shoe" method="post">

  <div class="form-group">
    <label for="shoe_name">
      Shoe name
    </label>

    <input type="text" id="shoe_name" name="shoe_name" class="form-control" value="<%= @shoe.shoe_name %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create shoe
  </button>
</form>

<hr>

<a href="/shoes">
  Go back
</a>
