<h1>
  Edit weekly mileage #<%= @weekly_mileage.id %>
</h1>

<hr>

<form action="/update_weekly_mileage/<%= @weekly_mileage.id %>" method="post">

  <div class="form-group">
    <label for="week_starting">
      Week starting
    </label>

    <input type="text" id="week_starting" name="week_starting" class="form-control" value="<%= @weekly_mileage.week_starting %>">
  </div>

  <div class="form-group">
    <label for="weekly_mileage">
      Weekly mileage
    </label>

    <input type="text" id="weekly_mileage" name="weekly_mileage" class="form-control" value="<%= @weekly_mileage.weekly_mileage %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update weekly mileage
  </button>
</form>

<hr>

<a href="/weekly_mileages">
  Go back
</a>
