<% if @weekly_mileage.present? %>
  <% if @weekly_mileage.errors.any? %>
    <% @weekly_mileage.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new weekly mileage
</h1>


<hr>

<form action="/create_weekly_mileage" method="post">

  <div class="form-group">
    <label for="week_starting">
      Week starting
    </label>

    <input type="text" id="week_starting" name="week_starting" class="form-control" value="<%= @weekly_mileage.week_starting %>">
  </div>

  <div class="form-group">
    <label for="weekly_mileage">
      Weekly mileage
    </label>

    <input type="text" id="weekly_mileage" name="weekly_mileage" class="form-control" value="<%= @weekly_mileage.weekly_mileage %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create weekly mileage
  </button>
</form>

<hr>

<a href="/weekly_mileages">
  Go back
</a>
