<h1>
  Add a new monthly mileage
</h1>


<hr>

<form action="/create_monthly_mileage" method="post">

  <div class="form-group">
    <label for="month_starting">
      Month starting
    </label>

    <input type="text" id="month_starting" name="month_starting" class="form-control">
  </div>

  <div class="form-group">
    <label for="monthly_mileage">
      Monthly mileage
    </label>

    <input type="text" id="monthly_mileage" name="monthly_mileage" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create monthly mileage
  </button>
</form>

<hr>

<a href="/monthly_mileages">
  Go back
</a>
